<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Products</title>
    <style></style>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Products List</h1>
    <div class="container">
      <% products.forEach(product => { %>
      <div class="product-card">
        <div class="product-name">
          <%= product.brand %> <%= product.model %>
        </div>

        <div class="product-price">$<%= product.price %></div>
        <div class="product-category">
          <span>Category:</span><%= product.category %>
        </div>
        <div class="attributes">
          <% product.attributes.forEach(attr => { %>
          <div><strong><%= attr.key %>:</strong> <%= attr.value %></div>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
